<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Ninja Detector", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Scan",    scan_path %></li>
          <li><%= link_to "View",    view_path %></li>
          <li><%= link_to "Rogue",    rogue_path %></li>
          <li><%= link_to "Configure",    configure_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>